<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.greenbyme.angelhack">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".ui.login.KakaoGlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity android:name=".ui.mission.more.PersonalMissionMoreActivity"></activity>
        <activity android:name=".ui.login.SignupActivity" />
        <activity android:name=".ui.login.SocialSignupActivity" />
        <activity android:name=".ui.mission.more.MissionMoreActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.greenbyme.angelhack.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity
            android:name=".ui.login.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mypage.editprofile.EditProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.certification.CertificationActivity" />
        <activity
            android:name=".ui.certification.CertificationCompleteActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".ui.certification.TakePictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.certification.CertificationInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.mission.detail.MissionDetailActivity" />
    </application>

</manifest>